* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 240, 210);
}

#main-back a {
    text-decoration: none;
    margin: 25px;
    }

/* FOTO SUPERIOR */
header {
    margin: 15px auto;
    padding: 5px;
    width: 950px;
    height: auto;
    background-color: rgb(28, 48, 41);
    border-radius: 30px;
    display: flex;
}
header img {
    margin: 0 auto;
    width: 850px;
    height: 300px;
}
/* FOTO SUPERIOR */

h1 {
    padding-left: 20px;
    color: rgb(48, 9, 3);
    box-shadow: 4px 4px 5px rgb(0, 9, 104);
    
}

/* CONTENEDOR PRINCIPAL CENTRADO */
.map-container {
    margin: 25px auto;
    /* background-color: rgb(93, 145, 191); */
    width: 985px;
    height: auto;
}
/* CONTENEDOR CON TRES CAJAS */
.map-info-container {
    margin: 15px auto;
    padding: 8px;
    width: 97%;
    height: auto;
    display: grid;
    grid-auto-rows: 270px;
    gap: 15px;
    background-color: rgb(181, 169, 169);
}
/* PARTE INTERIOR DEL CONTENEDOR * 3 */
.three_container {
    padding: 5px;
    display: grid;
    grid-template-columns: 560px 30px 1fr;
    background-color: aliceblue;
}

.map-box img {
    width: 560px;
    height: 260px;
}

.middle-box {
    margin-left: 5px;
    background-color: rgb(130, 149, 126);
}

/* FLORESTA'S ROUTE */
.MidImg img {
    margin-left: 100px;
    width: 350px;
    height: 260px;
}

.right-box-info {
    margin-left: 5px;
    border: 2px solid rgb(180, 127, 89);
    width: 95%;
    height: 260px;
    padding: 50px;
}
.right-box-info h2 {
    margin: 25px;
    font-size: 28px;
    border-bottom: 2px solid rgb(0, 136, 255);
}

.final-container {
    width: 100%;
    margin: 60px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 235px;
    background-color: rgb(0, 20, 38);
    padding-top: 15px;
}
.path-box {
    margin: 5px;
}
.path-box img {
    width: 240px;
    height: 198px;
}