* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 240, 210);
}

/* FOTO SUPERIOR */
header {
    margin: 15px auto;
    padding: 5px;
    width: 1010px;
    height: auto;
    background-color: rgb(28, 48, 41);
    display: flex;
}
header img {
    margin: 0 auto;
    width: 999px;
    height: 299px;
}
/* FOTO SUPERIOR */

h1 {
    padding-left: 20px;
    color: rgb(48, 9, 3);
    box-shadow: 4px 4px 5px rgb(0, 9, 104);
    
}

/* CONTENEDOR PRINCIPAL CENTRADO */
.map-container {
    margin: 25px auto;
    /* background-color: rgb(93, 145, 191); */
    width: 985px;
    height: auto;
}
/* CONTENEDOR CON TRES CAJAS */
.map-info-container {
    margin: 15px auto;
    padding: 8px;
    width: 97%;
    height: auto;
    display: grid;
    grid-auto-rows: 270px;
    gap: 15px;
    background-color: rgb(181, 169, 169);
}
/* PARTE INTERIOR DEL CONTENEDOR * 3 */
.three_container {
    padding: 5px;
    display: grid;
    grid-template-columns: 560px 30px 1fr;
    background-color: aliceblue;
}

.map-box img {
    width: 560px;
    height: 260px;
}

.middle-box {
    background-color: rgb(2, 47, 32);
    border: 1px solid saddlebrown;
}

/* FLORESTA'S ROUTE */
.MidImg img {
    margin-left: 100px;
    width: 350px;
    height: 260px;
}

.right-box-info {
    margin-left: 5px;
    border: 2px solid rgb(186, 40, 40);
    width: 95%;
    height: 260px;
    padding: 50px;
}
.right-box-info h2 {
    margin: 25px;
    font-size: 28px;
    border-bottom: 2px solid rgb(0, 136, 255);
}